@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Styles {
	<link href="~/lib/sweetalert2/css/sweetalert2.min.css" rel="stylesheet" />
	<link href="~/lib/select2/css/select2.css" rel="stylesheet" />
	<link href="~/lib/datetimepicker/css/jquery.datetimepicker.min.css" rel="stylesheet" />
	<link href="~/lib/datatables/buttons/css/buttons.bootstrap.css" rel="stylesheet" />
	<link href="~/lib/datatables/buttons/css/buttons.dataTables.css" rel="stylesheet" />
	<link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

	<style type="text/css">

		body {
			font-family: Roboto !important;
		}

	</style>
}

<div class="container px-4">
	@*<div class="row">
			<button id="getDataBtn">Get Data and Create Table</button>
			<div id="tableContainer"></div>
		</div>*@

	<button id="loadDataBtn">Load Data</button>
	<table id="dataTable" border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Completed</th>
			</tr>
		</thead>
		<tbody id="dataTableBody">
			<!-- Table body will be populated dynamically -->
		</tbody>
	</table>
</div>

@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	@*popup*@
	<script src="~/lib/sweetalert2/js/sweetalert2.min.js"></script>

	@*dropdown beautiful tool*@
	<script src="~/lib/select2/js/select2.full.js"></script>

	@*create barcode*@
	<script src="~/lib/JsBarcode/JsBarcode.code128.min.js"></script>

	@*qr code*@
	<script src="~/lib/html5-qrcode/qrcode.min.js"></script>

	@*datetimePicker calendar*@
	<script src="~/lib/datetimepicker/js/jquery.datetimepicker.full.js"></script>


	@*datatable*@
	<script src="~/lib/datatables/js/jquery.dataTables.js"></script>
	@*<script src="~/lib/datatables/js/dataTables.bootstrap.js"></script>*@

	@*click to print from data table*@
	<script src="~/lib/datatables/buttons/js/dataTables.buttons.js"></script>
	<script src="~/lib/datatables/buttons/js/buttons.bootstrap.js"></script>
	<script src="~/lib/datatables/buttons/js/buttons.flash.js"></script>
	<script src="~/lib/datatables/buttons/js/buttons.html5.js"></script>
	<script src="~/lib/datatables/buttons/js/buttons.print.js"></script>
	<script src="~/lib/datatables/buttons/js/jszip.js"></script>

	<script type="text/javascript">

		//var responseDataList = []; // Step 1: Create an empty list

		//function getJsonApi() {
		//	$.ajax({
		//		dataType: "json",
		//		type: 'GET',
		//		url: 'https://jsonplaceholder.typicode.com/todos/1',
		//		success: function (response) {
		//			responseDataList.push(response); // Step 2: Push response data into the list
		//		},
		//		error: function (request, status, error) {
		//			console.error(error);
		//		}
		//	});
		//}

		//function createTable(dataList) {
		//	var tableHtml = '<table border="1"><thead><tr><th>UserID</th><th>ID</th><th>Title</th><th>Completed</th></tr></thead><tbody>';

		//	for (var i = 0; i < dataList.length; i++) {
		//		var row = dataList[i];
		//		tableHtml += '<tr><td>' + row.userId + '</td><td>' + row.id + '</td><td>' + row.title + '</td><td>' + row.completed + '</td></tr>';
		//	}

		//	tableHtml += '</tbody></table>';

		//	$('#tableContainer').html(tableHtml);
		//}

		//$(document).ready(function () {
		//	$('#getDataBtn').click(function () {
		//		getJsonApi();
		//		createTable(responseDataList); // Step 4: Trigger the table creation function
		//	});
		//});

		$(document).ready(function () {
			// Function to get JSON data and populate DataTable
			function getJsonApi() {
				$.ajax({
					dataType: "json",
					type: 'GET',
					url: 'https://jsonplaceholder.typicode.com/todos/1',
					success: function (response) {
						// Assuming response is an object with properties id, title, and completed
						var data = [{
							id: response.id,
							title: response.title,
							completed: response.completed ? 'Yes' : 'No'
						}];

						// Clear existing rows in the table
						$('#dataTableBody').empty();

						// Populate DataTable with data
						$.each(data, function (index, item) {
							$('#dataTableBody').append('<tr><td>' + item.id + '</td><td>' + item.title + '</td><td>' + item.completed + '</td></tr>');
						});

						// Initialize DataTable
						$('#dataTable').DataTable();
					},
					error: function (request, status, error) {
						console.error('Error fetching data:', error);
					}
				});
			}

			// Button click event to load data
			$('#loadDataBtn').on('click', function () {
				getJsonApi();
			});
		});

	</script>
}