@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Styles {
	<link href="~/lib/sweetalert2/css/sweetalert2.min.css" rel="stylesheet" />
	<link href="~/lib/select2/css/select2.css" rel="stylesheet" />
	<link href="~/lib/datetimepicker/css/jquery.datetimepicker.min.css" rel="stylesheet" />
	<link href="~/lib/datatables/buttons/css/buttons.bootstrap.css" rel="stylesheet" />
	<link href="~/lib/datatables/buttons/css/buttons.dataTables.css" rel="stylesheet" />
	<link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

	<style type="text/css">

		body {
			font-family: Roboto !important;
		}

		/* Custom DataTable Styles */
		.dataTables_wrapper {
			font-family: Arial, sans-serif;
			font-size: 14px;
		}

		table.dataTable thead th {
			background-color: #f2f2f2;
			border: 1px solid #ddd;
		}

		table.dataTable tbody td {
			border: 1px solid #ddd;
		}

		table.dataTable tbody tr:nth-child(even) {
			background-color: #f9f9f9;
		}

		table.dataTable.no-footer {
			border-bottom: 0;
		}

		.dataTables_paginate {
			margin-top: 10px;
		}

		.dataTables_filter label {
			margin-right: 10px;
		}

		option[default] {
			display: none;
		}

		.hidden {
			display: none;
		}

	</style>
}

<div class="container px-4">
	<div class="row">
		<button class="btn btn-primary" onclick="getJsonApixx()">Click to get API</button>
		<label class="col-form-label" id="lblApi">data here</label>
	</div>
	<div class="row">
		<button class="btn btn-primary" onclick="submitInfoxx()">Show Table</button>
		<button class="btn btn-danger" onclick="clearInfo()">Clear</button>
	</div>
	<div class="row hidden" id="divTable">
		<div class="col-sm-12">
			<div class="container mt-3">
				<div class="card">
					<div class="card-body">
						<table id="tblInfo" class="table table-student w-100 display">
							<thead id="tblHeader">
								<tr>
									<th>No.</th> @*1*@
									<th>UserID</th> @*2*@
									<th>ID</th> @*3*@
									<th>Title</th> @*4*@
									<th>Completed</th> @*5*@
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	@*popup*@
	<script src="~/lib/sweetalert2/js/sweetalert2.min.js"></script>

	@*dropdown beautiful tool*@
	<script src="~/lib/select2/js/select2.full.js"></script>

	@*create barcode*@
	<script src="~/lib/JsBarcode/JsBarcode.code128.min.js"></script>

	@*qr code*@
	<script src="~/lib/html5-qrcode/qrcode.min.js"></script>

	@*datetimePicker calendar*@
	<script src="~/lib/datetimepicker/js/jquery.datetimepicker.full.js"></script>


	@*datatable*@
	<script src="~/lib/datatables/js/jquery.dataTables.js"></script>
	@*<script src="~/lib/datatables/js/dataTables.bootstrap.js"></script>*@

	@*click to print from data table*@
	<script src="~/lib/datatables/buttons/js/dataTables.buttons.js"></script>
	<script src="~/lib/datatables/buttons/js/buttons.bootstrap.js"></script>
	<script src="~/lib/datatables/buttons/js/buttons.flash.js"></script>
	<script src="~/lib/datatables/buttons/js/buttons.html5.js"></script>
	<script src="~/lib/datatables/buttons/js/buttons.print.js"></script>
	<script src="~/lib/datatables/buttons/js/jszip.js"></script>

	<script type="text/javascript">

		//var InfoList = [];
		var JsonList = [];

		$(document).ready(function () { //โหลด HTML เสร็จแล้วทำ Function;



		});

		function submitInfoxx() {
			debugger

			Swal.fire({ //switch alert, popup
				title: "Do you want to save the changes?", //ชื่อเรื่อง
				//showDenyButton: true,
				showCancelButton: true, //โชว์ปุ่ม cancel
				confirmButtonText: "Save", //คำพูดในปุ่ม confirmButton
				//denyButtonText: `Don't save`
			}).then((result) => { //หลังจากกดปุ่ม
				/* Read more about isConfirmed, isDenied below */
				if (result.isConfirmed) { //ถ้ากดปุ่ม comfirm

					getJsonApixx();

					$("#divTable").show();

					bindingOrder(JsonList);

				} else if (result.isDenied) {
					Swal.fire("Changes are not saved", "", "info");
				}
			});

		}function submitInfo() {
			debugger

			Swal.fire({ //switch alert, popup
				title: "Do you want to save the changes?", //ชื่อเรื่อง
				//showDenyButton: true,
				showCancelButton: true, //โชว์ปุ่ม cancel
				confirmButtonText: "Save", //คำพูดในปุ่ม confirmButton
				//denyButtonText: `Don't save`
			}).then((result) => { //หลังจากกดปุ่ม
				/* Read more about isConfirmed, isDenied below */
				if (result.isConfirmed) { //ถ้ากดปุ่ม comfirm


					$("#divTable").show();

					bindingOrder(JsonList);

				} else if (result.isDenied) {
					Swal.fire("Changes are not saved", "", "info");
				}
			});

		}

		function bindingOrder(dataList) { //รับ parameter จาก studentList
			var table = $("#tblInfo").DataTable({ //select id
				data: dataList, //เอา parameter มาเก็บใน data
				processing: true,
				destroy: true, //สร้างซ้ำได้
				scrollX: true, //เลื่อนแนวนอน
				searching: true, //filter ของ library
				order: [[1, "desc"]], //desc เรียงจากมากไปน้อย, asc เรียงจากน้อยไปมาก, 1 = name, 2 = age, 0 = row
				columns: [ //จำนวน columns ต้องตรงกับจำนวน tableHead และอย่าลืม tableBody
					{ //0
						data: null, className: "text-center", orderable: true, //data = null ไม่โชว์, classname ใส่ class, orderable เปิดการเรียงลำดับ
						render: function (data, type, full, meta) { //type, full = data ทั้งหมด, meta เป็น default
							debugger
							return meta.row + 1;
						}
					},//ตัวหนังสือชิดซ้าย ex.name, ตัวเลขชิดขวา ex.age, format เหมือนกันชิดกลาง ex.date, status
					{ data: "UserID", className: "text-center" }, //1
					{ data: "ID", className: "text-center" }, //2
					{ data: "Title", className: "text-start" }, //3
					{ data: "Completed", className: "text-center" }, //4

				],
			});

			Swal.fire({
				title: "Good job!",
				text: "You clicked the button!",
				icon: "success",
				timer: 3000
			});
		}

		function getJsonApixx() {
			$.ajax(
				{

					dataType: "json",
					type: 'GET',
					url: 'https://jsonplaceholder.typicode.com/todos/1', //Link + Function + Parameter = GET, POST = Link Only
					////url: '@Url.Action("Search", "Manifest")',
					//data: searchTerm, POST
					success: function (response) {
						debugger
						$("#lblApi").text(JSON.stringify(response));
						//JsonList.push(response);
						var data = {
							UserID: response.userId,
							ID: response.id,
							Title: response.title,
							Completed: response.completed,
						}
						JsonList.push(data);
						submitInfo();
					},
					error: function (request, status, error) {

					}
				}
			);
		}function getJsonApi() {
			$.ajax(
				{

					dataType: "json",
					type: 'GET',
					url: 'https://jsonplaceholder.typicode.com/todos/1', //Link + Function + Parameter = GET, POST = Link Only
					////url: '@Url.Action("Search", "Manifest")',
					//data: searchTerm, POST
					success: function (response) {
						debugger
						$("#lblApi").text(JSON.stringify(response));
						//JsonList.push(response);
						var data = {
							UserID: response.userId,
							ID: response.id,
							Title: response.title,
							Completed: response.completed,
						}
						JsonList.push(data);
					},
					error: function (request, status, error) {

					}
				}
			);
		}

		function clearInfo() {
			var JsonList1 = [];
			var JsonList2 = [{}];
			var JsonObj = { name: "" };
			var list1 = [{ name: "" }, { name: "Hello" }];
			list1 = [];
			var numD = 9;
			var stringD = "D";
			var objD = { isActive: false, Name: "Win", Age: 25 };
			var objE = { isActive: true, Name: "Sad", Age: 20 };
			var Dlist = [
				{ isActive: true, Name: "Cake", Age: 10 },
				{ isActive: false, Name: "Coke", Age: 15 },
			];
			JsonList = [];
			bindingOrder(JsonList);
		}

	</script>
}