@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Styles {
	<link href="~/lib/sweetalert2/css/sweetalert2.min.css" rel="stylesheet" />
	<link href="~/lib/select2/css/select2.css" rel="stylesheet" />
	<link href="~/lib/datetimepicker/css/jquery.datetimepicker.min.css" rel="stylesheet" />
	<link href="~/lib/datatables/buttons/css/buttons.bootstrap.css" rel="stylesheet" />
	<link href="~/lib/datatables/buttons/css/buttons.dataTables.css" rel="stylesheet" />
	<link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

	<style type="text/css">

		body {
			font-family: Roboto !important;
		}

		input[type="text"] {
			padding: 1px 0px;
			border: none;
			border-bottom: 1px solid #b1acac;
			outline: none;
		}

		.div-input {
			padding: 0px 12px;
		}

		.lbl-color {
			color: #b1acac;
		}

		.purple-color {
			color: #9C27B0;
		}

		#btn_select_unused_ip {
			background-color: #9C27B0;
			color: #fff;
		}

	</style>
}

<div class="container px-4">
	<div class="row">
		<div class="col-6">
			<div class="row">
				<label class="purple-color" id="lblSelectUserType">Select User Type</label>
			</div>
			<div class="row mt-2">
				<div class="col-12">
					<input type="radio" class="" id="rdoUser" name="selectusertype" value="user" checked />
					<label for="rdoUser" class="ps-2 pe-4 lbl-color" id="lblUser">USER</label>
					<input type="radio" id="rdoMAC" name="selectusertype" value="mac" />
					<label for="rdoMAC" class="ps-2 pe-4 lbl-color" id="lblMAC">MAC</label>
					<input type="radio" id="rdoStatic_IP" name="selectusertype" value="static_ip" />
					<label for="rdoStatic_IP" class="ps-2 lbl-color" id="lblStatic_IP">Static IP</label>
				</div>
			</div>
			<div class="row mt-4">
				<label for="txtUsername" class="lbl-color" id="lblUsername">Username</label>
			</div>
			<div class="row div-input">
				<input type="text" class="" id="txtUsername" />
			</div>
			<div class="row mt-2">
				<label for="txtPassword" class="lbl-color" id="lblPassword">Password</label>
			</div>
			<div class="row div-input">
				<input type="text" class="" id="txtPassword" />
			</div>
			<div class="row mt-2">
				<label for="txtSimultaneous_Use" class="lbl-color" id="lblSimultaneous_Use">Simultaneous-Use</label>
			</div>
			<div class="row div-input">
				<input type="text" class="" id="txtSimultaneous_Use" />
			</div>
		</div>
		<div class="col-6">
			<div class="row">
				<label class="lbl-color" id="lblPassword">Plan</label>
			</div>
			<div class="row">
				<input type="text" class="" id="txtPassword" />
				<button class="" id="btn_select_unused_ip">SELECT UNUSED IP</button>
			</div>
			<div class="row">
				<label for="txtPassword" class="lbl-color" id="lblPassword">IP Address</label>
			</div>
			<div class="row">

			</div>
			<div class="row">
				<label class="lbl-color" id="lblPassword">User Assign TO Franchisee</label>
			</div>
			<div class="row"></div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

	@*popup*@
	<script src="~/lib/sweetalert2/js/sweetalert2.min.js"></script>

	@*dropdown beautiful tool*@
	<script src="~/lib/select2/js/select2.full.js"></script>

	@*create barcode*@
	<script src="~/lib/JsBarcode/JsBarcode.code128.min.js"></script>

	@*qr code*@
	<script src="~/lib/html5-qrcode/qrcode.min.js"></script>

	@*datetimePicker calendar*@
	<script src="~/lib/datetimepicker/js/jquery.datetimepicker.full.js"></script>


	@*datatable*@
	<script src="~/lib/datatables/js/jquery.dataTables.js"></script>
	@*<script src="~/lib/datatables/js/dataTables.bootstrap.js"></script>*@

	@*click to print from data table*@
	<script src="~/lib/datatables/buttons/js/dataTables.buttons.js"></script>
	<script src="~/lib/datatables/buttons/js/buttons.bootstrap.js"></script>
	<script src="~/lib/datatables/buttons/js/buttons.flash.js"></script>
	<script src="~/lib/datatables/buttons/js/buttons.html5.js"></script>
	<script src="~/lib/datatables/buttons/js/buttons.print.js"></script>
	<script src="~/lib/datatables/buttons/js/jszip.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script type="text/javascript">

		$(document).ready(function () { //โหลด HTML เสร็จแล้วทำ Function;

			$(".select2").select2({
				placeholder: "--- เลือก ---",
				allowClear: true
			});

		});

	</script>
}