@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Styles {
	<style type="text/css">
		.padding-resume-group-right {
			padding: 0px 20px 0px 50px;
			position: relative;
			top: -50px;
		}

		.svg-margin-top-5px {
			margin-top: 5px;
			margin-right: 5px;
		}

		.red-box {
			max-width: 100%;
			width: 100%;
			height: 55px;
			background-color: #F0F0F0;
			border-radius: 30px 0 0 0;
			position: relative;
		}

		.redbox-row {
			padding-right: 0px !important;
		}

		.bigCon {
			border: 1px solid red;
		}

		.fontInfo {
			font-family: Barlow;
			max-width: 90%;
		}

		.nameResume {
			color: white;
			font-size: 40px;
			letter-spacing: 2px;
		}

		.topLbl {
			background-color: #2C344B;
			padding: 40px 0px 0px 30px !important;
		}

			/* .topLbl hr {
				color: white;
				margin-top: 10px;
				margin-bottom: 10px;
			} */

		hr {
			color: white;
			margin-top: 10px;
			margin-bottom: 0px;
		}

		.jobResume {
			color: white;
			letter-spacing: 2px;
			margin-bottom: 20px;
			margin-top: 10px;
		}

		.headTopic {
			background-color: #F0F0F0;
			max-width: 95%;
		}

		#firstBtmRow {
			margin-top: 30px !important;
		}

		.topic {
			font-size: 20px;
		}

		.styleImg {
			text-align: center;
		}

			.styleImg img {
				max-width: 100%;
				width: 50%;
				height: auto;
				position: relative;
				top: -110px;
			}

		.topic-col-right {
			background-color: #F0F0F0;
			padding-bottom: 20px;
		}

		#personalProfileMessage {
			max-width: 90%;
		}

		.head-resume-padding0 {
			padding: 0;
		}

		.job-padding0 {
		}

	</style>


}

<div class="container bigCon">
	<div class="row topLbl">
		<div class="col-12 head-resume-padding0">
					<label class="fontInfo nameResume">DANIEL ABU</label>
					<hr>
			<div class="row">
				<div class="row">
					<div class="col-7">
						<label class="fontInfo jobResume">IT PROJECT MANAGER</label>

					</div>
					<div class="col-5 redbox-row">
						<div class="row redbox-row">
							<div class="red-box"></div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">



		<div class="col-7">

			<div class="row" id="firstBtmRow">
				<div class="headTopic">
					<label class="fontInfo topic">PERSONAL PROFILE</label>
				</div>
				<div>
					<p class="fontInfo" id="personalProfileMessage">
						I'm an IT project manager with holistic knowledge of software deverlopment and design.
						I am also experienced in coordinating with stakeholders.
					</p>
				</div>
			</div>

			<div class="row">

				<div class="headTopic">
					<label class="fontInfo topic">WORK EXPERIENCE</label>
				</div>
				<div>
					<label class="fontInfo">Project Manager</label>
				</div>
				<div>
					<label class="fontInfo">Westheon FGW | OCT 2017 - present</label>
				</div>
				<div>
					<ul>
						<li class="fontInfo">Conduct day-today project coordination and implemention across multiple teams</li>
						<li class="fontInfo">Create funtional and tecnical application</li>
					</ul>
				</div>
				<div>
					<label class="fontInfo">Senior UX Designer</label>
				</div>
				<div>
					<label class="fontInfo">Pixelpoint Hive | Jan 2014 - Sept 2017</label>
				</div>
				<div>
					<ul>
						<li class="fontInfo">Managed complex projects from start to finish</li>
						<li class="fontInfo">Collaborated with other designers</li>
					</ul>
				</div>
			</div>

			<div class="row">

				<div class="headTopic">
					<label class="fontInfo topic">EDUCATIONAL HISTORY</label>
				</div>
				<div>
					<label class="fontInfo">HGFZ Graduate Center</label>
				</div>
				<div>
					<label class="fontInfo">Master in project Management | Jan 2013 - Dec 2014</label>
				</div>
				<div>
					<ul>
						<li class="fontInfo">Studied project planning, coordination, and ethics</li>
						<li class="fontInfo">Worked with various startups on lauching new apps and services</li>
					</ul>
				</div>
				<div>
					<label class="fontInfo">Cliffmoor College</label>
				</div>
				<div>
					<label class="fontInfo">BA Product Design | Dec 2008 - Dec 2012</label>
				</div>
				<div>
					<ul>
						<li class="fontInfo">Minor in Management</li>
						<li class="fontInfo">Thesis involved studying serveral technology companies and optimizing their product design process</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-5 topic-col-right">
			@* <div class="row">
				<div class="red-box"></div>
			</div> *@
			<div class="row">
				<div class="styleImg">
					<img src="/image/profile01.png" alt="Profile Picture">
				</div>

			</div>
			<div class="row padding-resume-group-right">
					<div class="d-inline-flex">
						<label class="fontInfo topic">CONTACT ME AT</label>
					</div>
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
						</svg>
						<label class="fontInfo contactMeLbl">+123-456-7890</label>
					</div>
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
							<path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.314l6.709 3.932L8 8.928l1.291.718L16 5.714V5.4a2 2 0 0 0-1.059-1.765l-6-3.2ZM16 6.873l-5.693 3.337L16 13.372v-6.5Zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516M0 13.373l5.693-3.163L0 6.873v6.5Z" />
						</svg>
						<label class="fontInfo contactMeLbl">hello@reallygreatsite.com</label>
					</div>
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe" viewBox="0 0 16 16">
							<path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472M3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933M8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4z" />
						</svg>
						<label class="fontInfo contactMeLbl">www.reallygreatsite.com</label>
					</div>
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
							<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
						</svg>
						<label class="fontInfo contactMeLbl">123 Anywhere St., Any City</label>
					</div>
			</div>

			<br>
			<div class="row padding-resume-group-right">
					<div class="d-inline-flex">
						<label class="fontInfo topic">SKILLS SUMMARY</label>
					</div>
					<div class="d-inline-flex">
						<ul>
							<li class="fontInfo">Project Manegement</li>
							<li class="fontInfo">Software Deverlopment</li>
							<li class="fontInfo">Building and Cost Analysis</li>
							<li class="fontInfo">Enterprise Resource Planning</li>
							<li class="fontInfo">Staff and User Training</li>
							<li class="fontInfo">Process Improvement</li>
						</ul>
					</div>

			</div>
			<div class="row padding-resume-group-right">
					<div class="d-inline-flex">
						<label class="fontInfo topic">AWARDS RECEIVED</label>
					</div>
				<div class="d-inline-flex">
						<svg class="svg-margin-top-5px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" @* class="bi bi-bookmark-fill" *@ viewBox="0 0 16 16">
							<path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2" />
						</svg>
					<div class="d-inline-flex">
							<label class="fontInfo">Most Outstanding Employee of the Year, Pixelpoint Hive (2015)</label>
						</div>
					</div>
				<div class="d-inline-flex">
						<svg class="svg-margin-top-5px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" @* class="bi bi-bookmark-fill" *@ viewBox="0 0 16 16">
							<path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2" />
						</svg>
					<div class="d-inline-flex">
							<label class="fontInfo">Best Mobile App Design, HGFZ Graduate Center (2014)</label>
						</div>
					</div>
				<div class="d-inline-flex">
						<svg class="svg-margin-top-5px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" @* class="bi bi-bookmark-fill" *@ viewBox="0 0 16 16">
							<path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2" />
						</svg>
					<div class="d-inline-flex">
							<label class="fontInfo">Design Awards, Cliffmoor College (2012)</label>
						</div>
					</div>
			</div>


		</div>
	</div>
</div>