@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container conInfo">
    <div class="row">
        <div class="col-7 colInfo">
            <div class="row topResume">
                <div>
                    <label class="topInfo nameSname">TANATORN PINITDAM</label>
                    <hr>
                    <label class="topInfo job">FRONT-END DEVELOPER</label>
                </div>
            </div>
            <div class="row btmInfo" id="firstRow">
                <div class="btmGroup">
                    <div class="btmHeader">
                        <label class="lblHeader">PERSONAL PROFILE</label>
                    </div>
                    <p>I'm a computer science student studying at Thammasat University. Dedicated and hardworking is best described as me.</p>
                </div>
            </div>
            <div class="row btmInfo">
                <div class="btmGroup">
                    <div class="btmHeader">
                        <label class="lblHeader">WORK EXPERIENCE</label>
                    </div>
                    <p>Front-End Deverloper</p>
                    <p>Thammasat University</p>
                </div>
            </div>
            <div class="row btmInfo">
                <div class="btmGroup">
                    <div class="btmHeader">
                        <label class="lblHeader">EDUCATIONAL HISTORY</label>
                    </div>
                    <p>Bachelor Degrees, Thammasat University 2017 - Present | GPAX 2.40</p>
                </div>
            </div>
        </div>
        <div class="col-5">
            <img src="/image/profile.jpg" alt="Profile Picture" width="275" height="325">
            <label class="lblHeader">CONTACT ME AT</label>
            <label class="lblHeader">SKILLS SUMMARY</label>
            <label class="lblHeader">AWARDS RECEIVED</label>
        </div>
    </div>
</div>

<div id="content">
    <!-- Your body content goes here -->
    <h1>Hello, World!</h1>
    <p>This is the content you want to print.</p>
</div>

<button id="printButton">Print</button>

<script src="script.js"></script>