@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //4564654
}
@section Styles {
	<style type="text/css">

        body {
            font-family: Roboto !important;
        }

        .round-image {
            width: 150px;
            height: 135px;
            border-radius: 50%;
        }

        .img-div {
            float: right;
        }

        .blue-color {
            color: #002878;
        }

        .fontlbl {
            font-size: 10px;
        }

        .icon-color {
            color: #02B9FD;
        }

        .hr-div {
            padding-left: 12px;
        }

        .hr-div2 {
            padding: 0px 12px 0px 12px;
        }

        .hr-col-left {
            max-width: 90%;
            border: 2px solid #002878;
        }

        .hr-col-right {
            border: 2px solid #002878;
        }

        .lbl-width {
            max-width: 90%;
        }

        .skill-hr {
            border: 1.5px solid black;
        }

        .skill-fs {
            font-size: 12px;
        }

        .java-div {
            width: 26%;
        }

        .js-div{
            width: 35%;
            padding: 0px 12px 0px 0px;
        }

        .python-div {
            width: 22%;
            padding: 0px;
        }

        .html-div {
            width: 29%;
        }

        .css-div {
            width: 20%;
            padding: 0px 12px 0px 0px;
        }

        .sql-div {
            width: 20%;
            padding: 0px 12px 0px 0px;
        }

        .c-div {
            width: 10%;
            padding: 0px;
        }

        .cpp-div {
            width: 24%;
        }

        .rn-div {
            width: 39%;
            padding: 0px 12px 0px 0px;
        }

        .php-div {
            width: 15%;
            padding: 0px;
        }

        .life-font {
            font-size: 15px;
            color: #02B9FD;
        }

        .dot-hr {
            border-top: 2px dotted black;
        }

        .font-strength {
            font-size: 13px;
        }

        .lbl-1 {
            font-size: 16px;
        }

        .lbl-2 {
            font-size: 13px;
            font-weight: bold;
        }

        .grey-lbl {
            color: grey;
        }

        .a4-container {
            width: 210mm;
            height: 297mm;
            /* Additional styles for illustration purposes */
            border: 1px solid #000;
            margin: 20px auto;
            padding: 50px;
            box-sizing: border-box;
        }

	</style>

}

<div class="a4-container">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <label class="blue-color fw-bolder fs-2">Tanatorn Pinitdam</label>
            </div>
            <div class="row">
                <label class="icon-color fw-bold">Front-End Developer</label>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="row d-inline"><i class="bi bi-telephone-fill icon-color fontlbl d-inline"></i><label class="fontlbl d-inline px-0 fw-bold">065-861-4329</label></div>
                </div>
                <div class="col-6">
                    <div class="row d-inline ps-5"><i class="bi bi-at icon-color fontlbl d-inline"></i><label class="fontlbl d-inline px-0 fw-bold text-nowrap">parasettamon01@gmail.com</label></div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="row d-inline"><i class="bi bi-link-45deg icon-color fontlbl d-inline"></i><label class="fontlbl d-inline px-0 fw-bold">linkedin.com/in/tanatorn-pinitdam-b1766a2a9/</label></div>
                </div>
                <div class="col-6">
                    <div class="row d-inline ps-5"><i class="bi bi-geo-alt-fill icon-color fontlbl d-inline"></i><label class="fontlbl d-inline px-0 fw-bold">Bangkok, Thailand</label></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row img-div">
                <img src="/image/profile.jpg" alt="Profile Picture" class="round-image">
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-8">
            <div class="row"><label class="blue-color fw-bold fs-5">SUMMARY</label></div>
            <div class="row hr-div"><hr class="hr-col-left m-0"></div>
            <div class="row mt-1"><label class="fontlbl lbl-width">I have experience studying at the university level. Over the past four years, I have delved into various computer languages, including Java, JavaScript, Python, HTML, CSS, SQL, C, C++, React Native, and PHP. I have worked on numerous projects, and aspire to pursue a career as a Front-End Developer. I hold a Bachelor's degree in Computer Science from Thammasat University. I possess strong collaboration and hardworking abilities and am passionate about contributing my skills to a leading company.</label></div>
            <br>
            <div class="row"><label class="blue-color fw-bold fs-5">EXPERIENCE</label></div>
            <div class="row hr-div"><hr class="hr-col-left m-0"></div>
            <div class="row mt-1"><label class="blue-color lbl-1">Front-End Developer</label></div>
            <div class="row"><label class="icon-color lbl-2">Thammasat University</label></div>
            <div class="row d-inline">
                <div class="d-inline"><i class="bi bi-calendar3 fontlbl grey-lbl"></i><label class="fontlbl grey-lbl ps-1">2020 - 2021</label></div>
                <div class=" d-inline"><i class="bi bi-geo-alt-fill fontlbl grey-lbl"></i><label class="fontlbl grey-lbl ps-1">Thammasat University</label></div>
            </div>
            <div class="row"><label class="fontlbl lbl-width">Develop a car recommendation website that gathers user information from their old car data, conducts assessments, and displays user reviews. Our website will retrieve car data from the official websites of various car brands, featuring car comparison functionality and generating car rankings to recommend suitable cars for users.</label></div>
        </div>
        <div class="col-4">
            <div class="row"><label class="blue-color fw-bold fs-5">MY LIFE PHILOSOPY</label></div>
            <div class="row hr-div2"><hr class="hr-col-right m-0"></div>
            <div class="row"><label class="lbl-width mt-1 life-font">I'm a computer science student studying at Thammasat University. Determined, Collaboration and Hardworking is best described as me.</label></div>
            <br>
            <div class="row"><label class="blue-color fw-bold fs-5">STRENGTHS</label></div>
            <div class="row hr-div2"><hr class="hr-col-right m-0"></div>
            <div class="row mt-1 mb-1">
                <div class="col-2"><i class="bi bi-lightning-fill icon-color fs-5"></i></div>
                <div class="col-10">
                    <div class="row">
                        <label class="blue-color fw-bold font-strength">Deternmined</label>
                    </div>
                    <div class="row">
                        <label class="fontlbl">When I undertake a task, I remain focused and approach it with unwavering determination. I do not succumb to various obstacles; instead, I persevere until the work is successfully completed.</label>
                    </div>
                </div>
            </div>
            <div class="row hr-div2"><hr class="dot-hr m-0"></div>
            <div class="row mt-1 mb-1">
                <div class="col-2"><i class="bi bi-star-half icon-color fs-5"></i></div>
                <div class="col-10">
                    <div class="row">
                        <label class="blue-color fw-bold font-strength">Collaboration</label>
                    </div>
                    <div class="row">
                        <label class="fontlbl">Proven ability to collaborate effectively with cross-functional teams, leading to streamlined development processes and successful project outcomes.</label>
                    </div>
                </div>
            </div>
            <div class="row hr-div2"><hr class="dot-hr m-0"></div>
            <div class="row mt-1">
                <div class="col-2"><i class="bi bi-star-half icon-color fs-5"></i></div>
                <div class="col-10">
                    <div class="row">
                        <label class="blue-color fw-bold font-strength">Hardworking</label>
                    </div>
                    <div class="row">
                        <label class="fontlbl">Maintain determination in your work, regardless of its level of difficulty. Possessing ample patience, I work diligently without giving up to ensure the successful completion of the task.</label>
                    </div>
                </div>
            </div>
            <br>
            <div class="row"><label class="blue-color fw-bold fs-5">SKILLS</label></div>
            <div class="row hr-div2"><hr class="hr-col-right m-0"></div>
            <div class="row mt-1">
                <div class="java-div d-inline text-center"><label class="fw-bold skill-fs">Java</label><hr class="skill-hr m-0"></div>
                <div class="js-div d-inline text-center"><label class="fw-bold skill-fs">JavaScript</label><hr class="skill-hr m-0"></div>
                <div class="python-div d-inline text-center"><label class="fw-bold skill-fs">Python</label><hr class="skill-hr m-0"></div>
            </div>
            <div class="row">
                <div class="html-div d-inline text-center"><label class="fw-bold skill-fs">HTML</label><hr class="skill-hr m-0"></div>
                <div class="css-div d-inline text-center"><label class="fw-bold skill-fs">CSS</label><hr class="skill-hr m-0"></div>
                <div class="sql-div d-inline text-center"><label class="fw-bold skill-fs">SQL</label><hr class="skill-hr m-0"></div>
                <div class="c-div d-inline text-center"><label class="fw-bold skill-fs">C</label><hr class="skill-hr m-0"></div>
            </div>
            <div class="row">
                <div class="cpp-div d-inline text-center"><label class="fw-bold skill-fs">C++</label><hr class="skill-hr m-0"></div>
                <div class="rn-div d-inline text-center"><label class="fw-bold skill-fs">React Native</label><hr class="skill-hr m-0"></div>
                <div class="php-div d-inline text-center"><label class="fw-bold skill-fs">PHP</label><hr class="skill-hr m-0"></div>
            </div>
        </div>
    </div>
</div>