@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Styles {
    <style type="text/css">

        body {
            font-family: 'MN Kha Ki' !important;
        }

        .con-css {
            /* border: 1px solid red; */
            overflow: clip;
            line-height: 1.25;
            border-radius: 30px 0px 0px 0px;
        }

        .row-all {
            margin: 0px;
        }

        .left-col-css {
            padding: 0px 0px 55px 30px;
            background-color: #EAE8E9;
            border-radius: 0px 0px 35px 0px;
        }

        .round-image {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            border: 5px solid #5f98d4;
            z-index: 9999999;
            position: relative;
        }

        .headfont {
            font-size: 25px;
            font-weight: 500;
            color: #5f98d4;
            margin-top: 20px;
        }

        .fontlbl {
            font-size: 20px;
            width: 90%;
        }

        .right-col-css {
            background-color: #EAE8E9;
            padding-left: 0px;
            padding-right: 0px;
        }

        .name {
            font-size: 60px;
        }

        .ul-group {
            padding-left: 28px;
        }

        .circle {
            width: 200px;
            height: 200px;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            left: -90px;
            top: -45px;
            z-index: 10;
        }

        /* .grey-box {
            background-color: #EAE8E9;
            max-width: 100%;
            width: 100%;
            height: 30px;
            padding: 0px 0px 0px 0px !important;
            margin: 0px 0px 0px 0px !important;
        } */

        .round-corner {
            border-radius: 60px 0px 0px 0px;
            background-color: white;
            padding: 55px 0px 0px 50px;
            width: 100%;
            height: 100%;
            margin-top: 30px;
        }

    </style>
}

<div id="content">


    <div class="con-css">
        <div class="circle"></div>

        <div class="row row-all">
        
            <div class="col-4 left-col-css">
                <div class="row">
                    <div>
                        <img src="/image/profile.jpg" alt="Profile Picture" class="round-image">
                    </div>
                </div>
                <div class="row">
                    <label class="headfont">เกี่ยวกับฉัน</label>
                </div>
                <div class="row">
                    <label class="fontlbl">ฉันเป็นนักศึกษาสาขาวิทยาการคอมพิวเตอร์ที่มหาวิทยาลัยธรรมศาสตร์ศูนย์รังสิต ความมุ่งมั่นและความขยันเป็นสิ่งที่แสดงถึงตัวตนฉันมากที่สุด</label>
                </div>
                <div class="row">
                    <label class="headfont">ติดต่อ</label>
                </div>
                <div class="row">
                    <label class="fontlbl">เบอร์โทร</label>
                </div>
                <div class="row">
                    <label class="fontlbl">+66 65 8614329</label>
                </div>
                <div class="row">
                    <label class="fontlbl">อีเมล</label>
                </div>
                <div class="row">
                    <label class="fontlbl">parasettamon01@gmail.com</label>
                </div>
                <div class="row">
                    <label class="headfont">ทักษะคอมพิวเตอร์</label>
                </div>
                <div class="row">
                    <label class="fontlbl">Java</label>
                </div>
                <div class="row">
                    <label class="fontlbl">JavaScript</label>
                </div>
                <div class="row">
                    <label class="fontlbl">Python</label>
                </div>
                <div class="row">
                    <label class="fontlbl">HTML\CSS</label>
                </div>
                <div class="row">
                    <label class="fontlbl">SQL</label>
                </div>
                <div class="row">
                    <label class="fontlbl">C\C++</label>
                </div>
                <div class="row">
                    <label class="fontlbl">React Native</label>
                </div>
                <div class="row">
                    <label class="fontlbl">PHP</label>
                </div>
                <div class="row">
                    <label class="headfont">ความถนัดทางภาษา</label>
                </div>
                <div class="row">
                    <label class="fontlbl">ภาษาไทย ภาษาอังกฤษ</label>
                </div>
            </div>

            <div class="col-8 right-col-css">
                @* <div class="row grey-box"></div> *@
                <div class="round-corner">
                    <div class="row">
                        <label class="fontlbl name">ธนาธร พินิจดำ</label>
                    </div>
                    <div class="row">
                        <label class="headfont">ประสบการณ์การทำงาน</label>
                    </div>
                    <div class="row">
                        <label class="fontlbl">นักศึกษา</label>
                    </div>
                    <div class="row">
                        <label class="fontlbl">มหาวิทยาลัยธรรมศาสตร์ศูนย์รังสิต, สาขาวิทยาการคอมพิวเตอร์</label>
                    </div>
                    <div class="row">
                        <label class="fontlbl">2017-ปัจจุบัน</label>
                    </div>
                    <div class="row ul-group">
                        <ul>
                            <li class="fontlbl">ออกแบบ UX UI แอปพลิเคชันทางการแพทย์ให้กับโรงพยาบาลรามาธิบดี</li>
                            <li class="fontlbl">เขียนและออกแบบเว็บไซต์ให้คะแนนเรตติ้งหนัง</li>
                            <li class="fontlbl">เขียนและออกแบบเว็บไซต์แนะนำรถยนต์</li>
                        </ul>
                    </div>
                    <div class="row">
                        <label class="headfont">การศึกษา</label>
                    </div>
                    <div class="row">
                        <label class="fontlbl">มหาวิทยาลัยธรรมศาสตร์ศูนย์รังสิต</label>
                    </div>
                    <div class="row">
                        <label class="fontlbl">สิงหาคม 2017</label>
                    </div>
                    <div class="row">
                        <label class="fontlbl">ปริญญาตรี คณะวิทยาศาสตร์ เอก วิทยาการคอมพิวเตอร์</label>
                    </div>
                    <br>
                    <div class="row">
                        <label class="fontlbl">โรงเรียนดอนเมืองจาตุรจินดา</label>
                    </div>
                    <div class="row">
                        <label class="fontlbl">มกราคม 2011</label>
                    </div>
                    <div class="row">
                        <label class="fontlbl">นักเรียนมัธยมต้น</label>
                    </div>
                </div>
            
            </div>

        </div>

    </div>
</div>

<div class="">
    <button id="printButton" onclick="printResume()">Print</button>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            debugger
            //i18next.on('languageChanged', function (lng) {
            //    //var selector = $(".select2");
            //    //if ($(selector).siblings("span.select2"))
            //    $("select.select2").select2('destroy');

            //    $("select.select2").select2();
            //});

        });

        function helloWinner() {
            debugger
            var abc = 0;


            abc = abc + 10;

            alert("Hello");
        }

        function printResume() {
            debugger
            var printContents = document.getElementById('content').innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }

        $(".cancelTab").on('click', function () {

            var currentDate = moment(new Date()).format('DD/MM/YYYY');
            $("#txtCreateDateFr").val(currentDate);
            $("#txtCreateDateTo").val(currentDate);

        });

        // $("#printButton").on("click", function () {
        //     var printContents = document.getElementById('content').innerHTML;
        //     var originalContents = document.body.innerHTML;

        //     document.body.innerHTML = printContents;

        //     window.print();

        //     document.body.innerHTML = originalContents;
        // });

        // document.getElementById('printButton').addEventListener('click', function () {
        //     var printContents = document.getElementById('content').innerHTML;
        //     var originalContents = document.body.innerHTML;

        //     document.body.innerHTML = printContents;

        //     window.print();

        //     document.body.innerHTML = originalContents;
        // });

    </script>
}
