@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Styles {
	<style type="text/css">

		body {
			font-family: Arial !important;
			/*background-color: #f6f2f2;*/
		}

		div {
			margin-bottom: 10px;
		}

		table {
			border-collapse: collapse;
			width: 100%;
		}

		table, th, td {
			border: 1px solid #ddd;
		}

		th, td {
			padding: 10px;
			text-align: left;
		}
	</style>

}

@*<div class="container px-4">
		<div class="row gx-5">
			<div class="col">
				<div class="p-3 bg bg-success">Custom column padding</div>
			</div>
			<div class="col">
				<div class="p-3 bg bg-success">Custom column padding</div>
			</div>
		</div>
	</div>*@

<div class="container overflow-hidden">
	<div class="row gx-5">
		<div class="col">
			<div class="p-3 bg bg-success">Custom column padding</div>
		</div>
		<div class="col">
			<div class="p-3 bg bg-success">Custom column padding</div>
		</div>
	</div>
</div>

<div>
	<label for="inputValue">Enter Value:</label>
	<input type="text" id="inputValue">
	<button id="createTableBtn">Create Table</button>
</div>

<div id="tableContainer"></div>

@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script type="text/javascript">

		$(document).ready(function () {
			$('#createTableBtn').on('click', function () {
				var inputValue = $('#inputValue').val();

				if (inputValue.trim() !== '') {
					createTable(inputValue);
				} else {
					alert('Please enter a value.');
				}
			});

			function createTable(value) {
				var table = '<table>';
				table += '<thead><tr><th>Value</th></tr></thead>';
				table += '<tbody><tr><td>' + value + '</td></tr></tbody>';
				table += '</table>';

				$('#tableContainer').html(table);
			}
		});

	</script>
}