<!DOCTYPE html>
<html lang="en">
<head>
    @* https://chat.openai.com/share/fa0cc8fb-b467-4aad-9e05-3bf6649517f9 **@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Layout2</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Resume01.styles.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/css/resume.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/resume2.css" asp-append-version="true" /> *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link href="~/adminlite_dist/css/adminlte.min.css" rel="stylesheet" />


    @await RenderSectionAsync("Styles", required: false)

    <style type="text/css">
        body {
            font-family: SCG;
            font-size: 1rem;
        }

        .navmenu-bg {
            height: 40px;
            width: 40px;
            border-radius: 20px;
            display: flex;
            background-color: #ffffff91;
            justify-content: center;
            align-items: center;
        }

        table {
            width: 100% !important;
        }

        .form-label {
            font-size: 16px !important;
        }

        .logo {
            height: 45px !important;
            width: 40px !important;
            margin-left: -5px;
        }

        #logolbl {
            width: 45px !important;
            margin-left: 10px;
        }

        .menu-title {
            color: #8e8e8e !important;
        }

        .container {
            margin: 0;
            max-width: 100% !important;
        }

        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .sidebar {
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 200px;
            background-color: #333;
            padding-top: 20px;
        }

            .sidebar ul {
                list-style-type: none;
                padding: 0;
            }

                .sidebar ul li {
                    padding: 10px;
                    text-align: center;
                }

                    .sidebar ul li a {
                        color: #fff;
                        text-decoration: none;
                        display: block;
                    }

                        .sidebar ul li a:hover {
                            background-color: #555;
                        }

        .content, .container {
            margin-left: 200px;
            padding: 20px;
        }
    </style>

</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Resume01 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="~/adminlite_dist/js/adminlte.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
